* {
  box-sizing: border-box;
}

.side-bar {
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  background-color: rgb(196, 199, 201);
  overflow-x: hidden;
  padding-top: 2px;
  padding-bottom: 200px;
}

.side-bar a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(239, 239, 245);
  display: block;
}

.side-bar a:hover {
  color: black;
}
